doctype html
html
    head
        link(href="favicon.ico", rel="shortcut icon", type="image/png")
        link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet", type="text/css")
        link(href="/vendor/toastr/toaster.min.css", rel="stylesheet", type="text/css")
        link(href="/css/site.css", rel="stylesheet", type="text/css")
    body(ng-app="app")
        block main-content
        include scripts